.auth-form{
    padding-top: 10%;
    display: flex;
    justify-content: center;
  }
  
  .form-data{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }
  
  form{
    padding: 10px;
    border: #606a70 2px solid;
    border-radius: 10px;
  }
  
  label{
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: left;
  }
  
  input {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 2px solid;
    background-color: #ebeeee;
  }
  
  .auth-func{
    display: flex;
    justify-content: space-around;
  }
  
  button {
    width: 130px;
    display: inline-block;
    font-size: 1.5em;
    background-color: #41b883;
    color: #ffffff;
    border: none; 
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
